@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: 50px;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}
span{
  color: red;
}
.grid{
  display: flex;
}
.card{
  background-color: white;
  width: 48%;
  height: 100%;
  display: inline-block;
  margin-top: 15px;
  margin-left: 3px;
}
img{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.card h1{
  text-align: left;
  padding-left: 25px;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 10px;
}
.fa-plus-circle{
  font-size: 4rem;
  text-align: center;
  color: #000;
  margin-bottom: 35px;
  padding-bottom: 35px;
}
.add-card{
  outline: none;
  box-shadow: none;
  border: none;
  height: 100%;
  width: 100%;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
  margin: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  color: red;
  font-size: 1.5rem;
  margin-right: 25px;
  margin-top: 5px;
  float: right;
}
button:active{
  outline: none;
  border: none;
}
button:focus{
  outline: none;
  border: none;
}
form{
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flexbox;
}
.form-input{
  width: 100%;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(250, 250, 250);
  font-size: 1rem;
  border-bottom: 2px solid red;
}
.fa-times-circle{
  margin-right: -200px;
}
.fa-external-link-alt{
  color: rgb(51, 51, 177);
  padding-left: 5px;
  margin-right: 50px;
  z-index: 1;
}
.form-button{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: red;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}

.container-cards{
  position: abdolute;
  width: 75%;
  height: fit-content;
  margin: auto;
  font-size: 1rem;
  padding: 15px;
  border-radius: 5px;
}
.info-icon{
  position: absolute;
  margin-left: 20%;
  margin-top: -1%;
}
.info1{
  background-color: rgba(255, 255, 0, 0.030);
  color: rgb(211, 166, 2);
  border: 2px solid rgb(255, 200, 0);
  margin-top: 120px;
}
.info2{
  background-color: rgba(255, 0, 0, 0.030);
  color: rgb(236, 0, 0);
  border: 2px solid rgb(236, 0, 0);
  margin-top: 10px;
}
.info3{
  background-color: rgba(25, 0, 255, 0.030);
  color: rgb(25, 0, 255);
  border: 2px solid rgb(25, 0, 255);
  margin-top: 10px;
  margin-bottom: 25px;
}
.info1.info-icon{
  color: rgb(233, 182, 0);
}
.info2.info-icon{
  color: rgb(236, 0, 0);
}
.info3.info-icon{
  color: rgb(25, 0, 255);
}
@media only screen and (max-width: 768px){
  h1{
    font-size: 3rem;
    padding-top: 25px;
  }
  .card{
    display: block;
    width: 100%;
  }
  form{
    width: 90%;
  }
  .form-input{
    font-size: 0.75rem;
  }
  .fa-plus-circle{
    margin-bottom: 0px;
  }
  .fa-times-circle{
    font-size: 1.5rem;
    margin-right: -190px
  }
  .fa-download{
    font-size: 1.5rem;
    margin-right: 30px
  }
  .container-cards{
    width: 100%;
  }
  .info-icon{
    position: absolute;
    margin-left: 33%;
    margin-top: -6%;
  }
}

