@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: 50px;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}
span{
  color: red;
}
.grid{
  display: flex;
}
.card{
  background-color: white;
  width: 48%;
  height: 100%;
  display: inline-block;
  margin-top: 15px;
  margin-left: 3px;
}
img{
  width: 100%;
  height: 100%;
}
.card h1{
  text-align: left;
  padding-left: 25px;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 10px;
}
.fa-plus-circle{
  font-size: 4rem;
  text-align: center;
  color: #000;
  margin-bottom: 35px;
  padding-bottom: 35px;
}
.add-card{
  outline: none;
  box-shadow: none;
  border: none;
  height: 100%;
  width: 100%;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
  margin: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  color: red;
  font-size: 1.5rem;
  margin-right: 25px;
  margin-top: 5px;
  float: right;
}
button:active{
  outline: none;
  border: none;
}
button:focus{
  outline: none;
  border: none;
}
form{
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flexbox;
}
.form-input{
  width: 100%;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(241, 241, 241);
  font-size: 1rem;
}
.form-button{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 768px){
  h1{
    font-size: 3rem;
    padding-top: 25px;
  }
  .card{
    display: block;
    width: 100%;
  }
}